

/*#A3165B : mauve */

@font-face {
    font-family: 'dinblackregular';
    src: url('font/DINPro-Regular_13937.ttf');

    font-family: 'dinblackmedium';
    src: url('font/DINPro-Medium_13936.ttf');

    font-family: 'dinblack';
    src: url('font/DINBlack.ttf');

    font-family: 'dinblackbold';
    src: url('font/DINPro-Bold_13934.ttf');
}

body{
	font-family: dinblackbold ,sans-serif;
	color: #4A4A4A;
}
.container-fluid{
	padding: 0px;
}
.logo{
	height: 50px;
}
.imagehome{
	padding: 0px;
}
.navbar-nav li a {
	font-family: 'dinblackbold',sans-serif;
}
.nav-item{
	margin-right: 20px;
	
}

.nav-link{
	color: #4A4A63 !important;
}

.nav-link:hover{
	color: #A3165B !important;
}
.active > .nav-link{
	color: #A3165B !important;
}
.inscire > .nav-link{
	background-color: #A3165B;
	color: white !important;
	border-radius: 10px;
	padding-left: 10px !important;
	padding-right: 10px !important;
}
.inscrire > .nav-link:hover{
	color: white !important;
}
.connexion > .nav-link{
	color: #A3165B !important;
}

.dropdown-menu{
	padding: 0 !important;
}

.dropdown-item:hover{
	background-color: #A3165B;
	color: white;
}
.comment{
	color: #000046;
	margin-top: 40px;
	font-family: dinblackbold, sans-serif;

}
.imgfonctionne{
	margin-right: auto;
	margin-left: auto;
}
#inscription{
	color: #A3165B;
	font-family: dinblackbold, sans-serif;
}
.inscriptiontext{
	padding-bottom: 40px;
}

.trouver{
	background-color: #EFF0F1;
	padding-bottom: 40px;
}
.trouver h1{
	padding-top: 40px;
	padding-bottom: 40px;
}
/*.trouverwidth{
	
	text-align: justify;
	padding-bottom: 40px;
}*/

.lulu{
	margin: 0;
}
#app{
	
	padding-top: 40px;
}
.phone{
	height: 400px;
}
.phone2{
	padding: 0px;
}
.appli{
	color: #000046;
}

.mobile{
	padding: 0;
}
.footer{
	background-color: #17172C;
	padding-top: 40px;
	padding-bottom: 40px;
}


a, a:hover {
	text-decoration: none;
}

.socialbtns, .socialbtns ul, .socialbtns li {
  margin: 0;
  padding: 5px;
}

.socialbtns li {
    list-style: none outside none;
    display: inline-block;
}

.socialbtns .fa {
	width: 40px;
    height: 40px;
	color: #A3165B;
	background-color: ;
	border: 1px solid #A3165B;
	padding-top: 12px;
	border-radius: 22px;
	-moz-border-radius: 22px;
	-webkit-border-radius: 22px;
	-o-border-radius: 22px;
}

.socialbtns .fa:hover {
	color:#17172C;
	background-color: #A3165B;
	border: 1px solid #000;
}

.contacternous{
	color: white !important;
	margin-top: 15px;
}

.condition{
	font-size: 0.5em;
}

.auteur{
	margin-top: 55px;
	font-size: 0.5em;
}

.formulaire{
	padding-top: 20px;
}
.formulaire:last-child{
	padding-bottom: 40px;
}
.formulaireconnexion{
	padding-top: 23vh;
	padding-bottom: 23vh;
}

.contactpage{
	padding-top: 25vh;
	padding-bottom: 30vh;
}
.concept{
	padding-top: 50px;
}
.concept h1{
	padding-bottom: 40px; 
	color: #A3165B;
	padding-top: 20px;
	font-size: 37px;
}
.h1concept{
	color: rgb(0, 0, 70) !important;
}
.concept p { 
	text-align: justify; 
}
.titreboutique{
	color: #A3165B;
}
.avatar img{
	border-radius: 50%;
}
.squareprofile{
	border: 1px solid #A3165B  ;
}
.buttonprofile:hover{
	background-color: #A3165B;
	transition: background-color 1s;
	transition: color 0.5s;
	color: white;
}
.btn-primary{
	background-color: #A3165B !important;
	border-color: #A3165B !important;
}

.show > .btn-primary.dropdown-toggle:focus {

    box-shadow: 0 0 0 .2rem rgba(163, 22, 91, .5) !important;

}

.squaredeouf{
	max-width: 270px !important;
	height: 270px !important;
}


.categorie{
	color: #A3165B;
}

a{
	color: grey ;
}

#divarticle{
	background-color: #F0F0F0;
	border-radius: 10px; 
}
.listecategorie{
	font-size: 0.8em;
}
.titreproduct{
	font-size: 1.2em;
	color: #A3165B !important;
}
.titreproduct a{
	color: #A3165B !important;
}
.titreproduct a:hover{
	color: #0096CA !important;
}
.imgproduct{
	height: 150px;
	border-radius: 10px;
}
.linkdetaillé{
	padding: 0;
}
.linkdetaillé a:hover{
	color: #0096CA;
}
.nomfarmeur a{
	color: #17172C;
}
.nomfarmeur a:hover{
	color: #0096CA;
}
.imgprofile{
	height: 50px;
	border-radius: 100px;
	margin-top: -5px;
}
.linkprofil{
	display: inline-flex;
}

.nomprofile{
	text-transform: uppercase;
}
.dataacc{
	display: flex;
}
.dataacc a{
	display: flex;
}
.pageperso{
	padding-top: 50px;
	padding-bottom: 50px;
}
.pageperso h1{
	color: #A3165B;
}

.profil{
    text-align: initial;
  }
  .profil p{
    margin-bottom: 5px;
  }
  .menuprofil{
    list-style: none;
  }
  .menuprofil li{
    display:inline-flex;
    padding-left: 25px;
  }
  .menuprofil li a{
  	display: inline-flex;
  }
  .menuprofil li a:hover{
    color: #a3165b;
  }

.card-profile {
  border-radius: 0;
  border: 0;
}

.card-profile .card-img-profile {
  max-width: 150px;
  margin-top: -115px;
  margin-bottom: 35px;
  border: 5px solid;
  border-image: linear-gradient(#a3165b, #17172c) 30;
  margin-left: 20vh;
}

.top-to-bottom { 
	border-width: 3px 0 3px 3px; 
	border-style: solid; 
	-webkit-border-image: -webkit-gradient(linear, 0 0, 0 80%, from(#a3165b), to(#17172c)) 1 100%; 
	-webkit-border-image: -webkit-linear-gradient(#a3165b, #17172c) 1 80%; 
	-moz-border-image: -moz-linear-gradient(#a3165b, #17172c) 1 80%; 
	-o-border-image: -o-linear-gradient(#a3165b, #17172c) 1 80%; 
	border-image: linear-gradient(to bottom, #a3165b, #17172c) 1 80%; 
}